spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: user
    password: 123
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console.enabled: true